/* Base styles */

:root {
  --text-color: #1a1c20;
  --ptext-color: rgb(136,136,136);
  --link-color: #4a76ee;
  --background-color: #fdffc;
  /* --footer-bg-color: #ffffff; */
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 100%);
  --fg: hsl(var(--hue), 10%, 0%);
  --primary: hsl(var(--hue), 90%, 55%);
  --primaryT: hsla(var(--hue), 90%, 55%, 0);
  --transDur: 0.3s;
  --primary-color: #2176FF;
  --secondary-color: #33A1FD;
  --accent-color: #FDCA40;
  --highlight-color: #F79824;
  --dark-text: #011627;
  --light-text: #FDFFFC;
  --bg-color: #F0F4F8;
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /* Adjust the weight as needed */
}

body, p, a, li {
  font-family: 'Barlow', sans-serif;
  font-weight: 400; /* Adjust the weight as needed */
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--bg-color);
  color: var(--dark-text);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--dark-text);
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px 40px;
}


.navbar a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 15px;
}

.logo {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--highlight-color) !important;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
}

.navbar-right {
  
}

/* Light and Dark Mode Toggle Switch styles */
input{
  font: 1em / 1 Nunito , sans-serif;
}

.theme {
  display: flex;
  justify-content: right;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  /* margin-left: 10px; */
}

.theme_fill, .theme_icon {
  pointer-events: none;
  transition: transform var(--transDur) ease-in-out;
}

.theme_fill{
  background-color: var(--bg);
  display: block;
  mix-blend-mode: difference;
  position: fixed;
  inset: 0;
  height: 100%;
  transform: translateX(-100%);
}

.theme_icon, .theme_toggle{
  z-index: 1;
}

.theme_icon, .theme_icon-part{
  position: absolute;
}

.theme_icon{
  display: block;
  top:.50em;
  left:.50em;
  width: 1.5em;
  height: 1.5em;
}

.theme_icon-part{
  border-radius: 50%;
  box-shadow: 0.4em -0.4em 0 0.5em hsl(0,0%, 100%) inset;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  transition: box-shadow var(--transDur) ease-in-out, opacity var(--transDur) ease-in-out, transform var(--transDur) ease-in-out;
  transform: scale(0.5);
}

.theme_icon-part ~ .theme_icon-part{
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.05em;
  box-shadow: none;
  top: 50%;
  left: calc(50% - 0.05em);
  transform: rotate(0) translateY(0.5em);
  transform-origin: 50% 0;
  width: 0.1em;
  height: 0.2em;
}

/* Sun Rays */
.theme_icon-part:nth-child(3){
  transform: rotate(45deg) translateY(0.5em);
}
.theme_icon-part:nth-child(4){
  transform: rotate(90deg) translateY(0.5em);
}
.theme_icon-part:nth-child(5){
  transform: rotate(135deg) translateY(0.5em);
}
.theme_icon-part:nth-child(6){
  transform: rotate(180deg) translateY(0.5em);
}
.theme_icon-part:nth-child(7){
  transform: rotate(225deg) translateY(0.5em);
}
.theme_icon-part:nth-child(8){
  transform: rotate(270deg) translateY(0.5em);
}
.theme_icon-part:nth-child(9){
  transform: rotate(315deg) translateY(0.5em);
}

.theme_label, .theme_toggle, .theme_toggle-wrap {
  position: relative;
}
.theme_toggle, .theme_toggle::before{
  display: block;
}

.theme_toggle{
  background-color: hsl(48, 90%, 85%);
  border-radius: 25% / 50%;
  box-shadow: 0 0 0 0.125em var(--primaryT);
  padding: 0.25em;
  width: 5.5em;
  height: 2.5em;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: background-color var(--transDur) ease-in-out, box-shadow 0.15s ease-in-out, transform var(--transDur) ease-in-out;
}

.theme_toggle::before{
  background-color: hsl(48, 90%, 55%);
  border-radius: 50%;
  content: '';
  width: 2em;
  height: 2em;
  transition: background-color var(--transDur) ease-in-out, transform var(--transDur) ease-in-out;

}

.theme_toggle:focus{
  box-shadow: 0 0 0 0.125em var(--primary);
  outline: transparent;
}

/* Checked */
.theme_toggle:checked{
  background-color: hsl(198, 90%, 15%);
}

/* toggle */
.theme_toggle:checked::before, .theme_toggle:checked ~ .theme_icon{
  transform: translateX(3em);
}

.theme_toggle:checked::before {
  background-color: hsl(198, 90%, 55%);
}

.theme_toggle:checked ~ .theme_fill {
  transform: translateX(0);
}

.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(1) {
  transform: scale(1);
  box-shadow: 0.2em -0.2em 0 0.2em hsl(0,0%, 100%) inset;
}

.theme_toggle:checked ~ .theme_icon .theme_icon-part ~ .theme_icon-part{
  opacity: 0;
}

.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(2) {
  transform: rotate(45deg) translateY(0.8em);
}
.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(3) {
  transform: rotate(90deg) translateY(0.8em);
}
.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(4) {
  transform: rotate(135deg) translateY(0.8em);
}
.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(5) {
  transform: rotate(180deg) translateY(0.8em);
}
.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(6) {
  transform: rotate(225deg) translateY(0.8em);
}
.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(7) {
  transform: rotate(270deg) translateY(0.8em);
}
.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(8) {
  transform: rotate(315deg) translateY(0.8em);
}
.theme_toggle:checked ~ .theme_icon .theme_icon-part:nth-child(9) {
  transform: rotate(360deg) translateY(0.8em);
}

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  position: relative;
  z-index: 1;
  
  /* background-color: #F79824; */
}
/* 
.hero .hero-left .hero-right{
  flex: 50%;
  text-align: center;
} */

.hero .hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  

}

.hero .hero-left p {
  margin-top: 20px;
  padding-right: 45px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--light-text);
}

/* .secondary-btn {
  background-color: var(--secondary-color);
  color: var(--light-text);
  margin-left: 15px;
} */


.hero .hero-right {
  background-color: #f0e9e9;
  border-radius: 50px 0 0 0;
  height: 610px;
  width: 500px;
  display: flex;  
  justify-content: center;
  align-items: center;
  
}

.hero h1 {
  font-size: 6em;
  margin-bottom: 100px;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 5px;

}


.hero-overlay {
  background-color: var(--light-text);
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 200px;
  height: 130px;
  /* max-width: 400px; Restricting the card width */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adding shadow */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
  z-index: 1 ;

}

  .style-overlay{
    padding: 10px;
  }

.hero-cart {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 0 10px;
}

.cart {
  background-color: #fff5cc; /* Light yellow background */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart i {
  font-size: 1.5em; /* Adjusting the icon size */
}

.total-sales{
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--text-color);
  font-weight: 600;
}
.total-sales .label {
  font-size: 0.7em;
  color: #9e9e9e;
}

.total-sales .amount {
  font-size: .9em;
  font-weight: bold;
  color: #011627;
}

/* .cart-text {
  font-size: .7em;
  color: var(--text-color);
  font-weight: 600;
} */

.hr-overlay {
  border: none;
  border-top: 1px solid #eee;
  margin-top: 15px;
  width: 100%;
}

.cart-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}

.time-period {
  font-size: 0.7em;
  color: #9e9e9e;
  padding-left: 10px;
  padding-right: 30px;
}

.caret {
  display: flex;
  align-items: center;
  gap: 5px;
 
}

.caret i {
  font-size: 1.2em;
  padding-top: 5px;
}

.percentage {
  font-size: 0.7em;
  color: #06e554;
}

.hero p {
  font-size: 1em;
  margin-bottom: 50px;
  color: var(--ptext-color);
}

.hero-img2 {
 position: relative;
 width: 500px;
 height: auto;
  padding: 0;
  /* margin-right: 150px; */
  /* overflow: hidden; */
  top: 57px;
  right: 100px; 
  bottom: 0px;
  object-fit: fit;
  z-index: 1;
  /* border-radius: 20px; */
 
}

.hero-img1{
  width: 220px;
  height: auto;
  position: absolute;
  top: 40px;
  right: 10px; 
  border-radius: 20px;
  z-index: 1;
}

.img-wrapper {
  width: 300px;
  height: 390px;
  /* overflow-x: visible; */
  background: linear-gradient(to top, #fdca40, #f0e9e9); /* Fading yellow background */
  
  border-radius: 20px;
  padding: 0;
  position: relative;
  background-size: cover;
  object-fit: fit;
  z-index: 0;
}

.hero-overlay-text {
  background-color: var(--light-text);
  position: absolute;
  top: 80%;
  left: 80%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adding shadow */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: start;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
  z-index: 1 ;
  padding: 10px;
  gap: 5px;
}

.hero-overlay-text i {
  font-size: 1.5em; /* Adjusting the icon size */
}

.text-percentage {
  font-size: 1em;
  color: var(--link-color);
  font-weight: 600;
}


/* Styling for the buttons in the hero section */
.hero-btn {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
}

.hero-btn a {
  width: 140px;
  height: 40px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  background: linear-gradient(to right, #185beb, #e8e8e8, #185beb, #185beb, #e8e8e8, #185beb);
  background-size: 250%;
  background-position: left;
  color: var(--bg-color); /* Adjust as per your color variables */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
  text-decoration: none; 
}

.hero-btn a span {
  font-size: 16px;
  color: inherit; /* Ensure text color matches the background */
}

.hero-btn a::before {
  position: absolute;
  content: "";
  width: 96%;
  height: 90%;
  margin: 10px;
  border-radius: 8px;
  background-color: var(--text-color); /* Adjust based on your theme */
  background-size: 200%;
  z-index: 0;
  transition-duration: 1s;
}

.hero-btn a:hover {
  background-position: right;
  transition-duration: 1s;
}

.hero-btn a:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.hero-btn a:active {
  transform: scale(0.95);
}

.hero-btn a * {
  position: relative;
  z-index: 1; /* Ensure text stays above the background */
}





.section {
  padding: 60px;
}


.section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-hr {
  margin-left: 60px; 
  border: none;
  border-top: 1px solid #777474;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 50%;
} 

/* Section 1 */
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: -150px; /* This pulls it up to join with the hero */
}

hr {
  border: none;
  border-top: 1px solid var(--secondary-color);
  margin: 10px 0;
 
}


.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 70px;
  position: relative;
 
}

.section-1 .section-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.section-1 .section-left h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  letter-spacing: 6px;
  color: var(--primary-color);
}

/* Styling for the section-left list */
.section-left-list {
  list-style: none; /* Remove default bullets */
  padding: 0;
  margin: 20px 0;
  
}

.section-left-list li {
  margin-bottom: 20px;
  font-size: 0.9em;
}

/* Styling for the icon and strong text container */
.icon-and-text {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icon-and-text i {
  font-size: 1.2em;
  margin-right: 10px;
  color: var(--primary-color);
}

.icon-and-text strong {
  font-size: 1.1em;
  color: var(--primary-color);
}

/* Styling for the paragraph under each list item */
.section-left-list p {
  margin-left: 30px; /* Indent to align text with the strong text */
  margin-top: 5px;
  color: var(--ptext-color); /* Adjust text color */
  line-height: 1.5;
}

.section-1 .section-right {
  border-radius: 0 0 0 50px;
  background-color: #f0e9e9;
  width: 500px;
  padding: 180px 40px 60px 60px;
  margin-left: 50px; 
  margin-top: -170px;
  height: 490px;
  overflow-x: hidden;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2em;
  margin-bottom: 30px;
  
}

.chevron {
  margin-left: auto;
  color: var(--highlight-color);
}

/* Section 2 */

.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 60px;
  margin-bottom: 50px;
  /* background-color: #F79824; */
}

.section-2 .section-left {
  position: relative;
  flex: 2;
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-left .overlay-img {
  width: 280px;
  height: auto;
  position: absolute;
  border-radius: 20px;
  left: -100px;
  top: -15px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  
}
.section-left .img-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 450px;
  border-radius: 20px;  
  /* overflow: hidden; */
}

.section-img {
  position: relative;
  width: 550px;
  height: auto;
  overflow: hidden;
  /* object-fit: cover;  */
  border-radius: 20px;
  left: -150px;
  z-index: 1;
  top: 83px;

}

/* Overlay text styling 1 */
.section-overlay-text1 {
  background-color: var(--light-text);
  position: absolute;
  top: 200px;
  left: -20px;
  max-width: 250px;
  height: auto;
  box-shadow: 0 2px 10px rgba(34, 20, 227, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  z-index: 2;
  padding: 8px;
  gap: 5px;
  
}

/* Overlay text styling 2 */
.section-overlay-text2 {
  background-color: var(--light-text);
  position: absolute;
  top: 380px;
  left: -30px;
  max-width: 600px;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  z-index: 2;
  padding: 8px;
  gap: 5px;
}

.section-overlay-text3 {
  background-color: var(--light-text);
  position: absolute;
  top: 282px;
  left: 290px;
  width: 160px;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
  z-index: 2;
  padding: 8px;
  gap: 5px;
}

.span-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.section-overlay-text3 img {
  
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

.chart-text{
  
  display: flex;
  flex-direction: column;
}

.strategies{
  font-weight: 800;
  font-size: 0.9em;
}

.strategies-p{
  font-size: 0.6em;
  
}

.section-overlay-text1 i, .section-overlay-text2 i {
  font-size: 0.7em; /* Adjust the icon size */
}

.text-highlight {
  font-size: 0.7em;
  color: var(--link-color);
  font-weight: 600;
}


/* 
.section-2 img{
  max-width: 70%;
  height: auto;
} */

.section-2 .section-right {
 flex: 1;
 width: 400px;
  /* margin-left: 70px;  */
  height: auto;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.card-container{
  /* position: relative; */
  width: 200px;
  height:120px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #33A1FD;
  color: #FDFFFC;
  text-align: center;
  padding: 10px;
  /* margin: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
 
  
}

.card-container i{
  font-size: 1.5em;
  color: #FDFFFC;
}

.card {
  font-size: 1.2em;
}

/* Section 3 */

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin-bottom: 50px;
}

.section3-text {
  display: flex;
  flex-direction: column;
  max-width: 700px; /* Maintain this width */
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center; /* Align text in the center */
}

.services-table {
  display: table;
  width: 100%;
  border-collapse: collapse; /* Ensure no gaps between borders */
  text-align: center; /* Ensure all contents are centered */
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 20px;
  text-align: center;
  color: #011627;
  border-right: 0;
  border-bottom: 0;
  background-color: transparent;
}

.table-cell i {
  font-size: 1.5em; 
  color: #ffffff; 
  background-color: #33A1FD; 
  width: 60px; 
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  margin: 0 auto 20px; 
}

.table-cell h3 {
  font-size: 1.2em;
  padding: 0 15px;
  margin-bottom: 20px;
  color: var(--text-color); 
}

.table-cell p {
 
  font-size: .9em;
  color: var(--ptext-color); 
  padding: 0 15px; Padding inside each cell
  margin-bottom: 10px;
}


.table-row:first-child .table-cell:nth-child(2) {
  background: linear-gradient(to top, #dde9f6, #F0F4F8); /* Fading gray from bottom to top */
}

/* Service 4: Fading shade of gray from top to bottom */
.table-row:nth-child(2) .table-cell:nth-child(1) {
  background: linear-gradient(to bottom, #dde9f6, #F0F4F8); /* Fading gray from top to bottom */
}

/* Service 6: Fading shade of gray from top to bottom */
.table-row:nth-child(2) .table-cell:nth-child(3) {
  background: linear-gradient(to bottom, #dde9f6, #F0F4F8); /* Fading gray from top to bottom */
}

/* Section-4 */
/* Section 4 */
.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin-bottom: 50px;
}

/* Match H2 and P styling from Section-3 */
.section4-text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
}

.section4-text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #011627; /* Color for H2 */
}

.section4-text p {
  font-size: 1.2em;
  color: #555555; /* Color for P */
}

/* Key Aspects Layout */
.key-aspects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; 
  gap: 50px;
}

.key-aspects-left,
.key-aspects-right {
  width: 50%; /* Each takes 50% of the screen width */
  /* border: 2px solid #33A1FD; Border for both left and right sides */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #f0e9e9;
}

/* Key Aspects Left */
.key-aspects-left {
  display: flex;
  flex-direction: column;
}

.aspect {
  margin: 10px;
  /* padding: 0 20px; */
}

.aspect-icon-text {
  display: flex;
  gap: 10px;
  /* justify-content: flex-start; */
  /* align-items: end; */
}

/* 
.aspect-icon-text i {
  font-size: 1.2em;
  margin-right: 10px;
  color:#2176FF;
} */

.aspect h3 , .aspect-icon-text i {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #2176FF;

}

.aspect p {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: var(--ptext-color);
}

.aspect hr {
  border: none;
  border-top: 1px solid #33A1FD;
  margin: 20px 0;
 
}

/* Key Aspects Right */
.key-aspects-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden; /* Ensures the image does not overflow */
}

.key-aspects-right img {
  position: absolute;
  top: 0;
  left: 70px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Contain the image within the div */
  z-index: 1; /* Ensure the image is behind the text */
}

/* Text inside Key Aspects Right */
.text-top {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--text-color);
  font-size: 1.5em;
  z-index: 1; /* Ensure text is above the image */
}

.text-top div {
  display: flex;
  gap: 5px;
  font-size: 2em;
}


/* Styling for the number "120" */
.text-top div span:nth-child(1) {
  font-weight: bold; /* Bold for 120 */
}

/* Styling for the "+" symbol */
.text-top div span:nth-child(2) {
  color: #F79824; /* Orange color for the + symbol */
}

.text-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--text-color);
  z-index: 1;

}

.text-bottom h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.text-bottom p {
  font-size: 1em;
  width: 300px;
padding-top: 10px;
color: var(--ptext-color);
}

/* Section-5 */

.section-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 60px; */
  /* margin-bottom: 50px; */
  position: relative;
  text-align: center;
}


.section5-text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
}

.section-5 h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--primary-color) /* Color for H2 */
}

.section-5 p {
  font-size: 1.2em;
  color: #555555; /* Color for P */
}

.section-5-overlay-img {
  width: 120%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
}

.section-5-overlay {
  position: relative;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
  flex-wrap: wrap; /* Allows overlays to wrap around the image */
}

.section-5-overlay-1{
  background-color: var(--light-text);
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 350px;
  height: auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: start;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
  z-index: 1 ;
  padding: 10px;
  gap: 5px;

} 

.section-5-overlay-2{
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);/* Adding shadow */
  width: 320px;
  height: auto;
  position: absolute;
  top: 300px;
  left: -190px; 
  border-radius: 20px;
  z-index: 1;
}

.section-5-overlay-3{
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 200px;
  position: absolute;
  text-align: start;
  padding: 20px;
  top: 150px;
  right: -180px; 
  transform: translate(-50%, -50%); 
  font-size: 0.7em;
  color: var(--text-color);
  border-radius: 20px;
  /* border: 1px solid; */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color) ;
}
.section-5-overlay-3-text{
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 1em;
  margin-bottom: 5px;
}

.section-5-overlay-3-text .text1 {
  font-size: 1em;
  margin-bottom: 10px;
  color:#06e554;
}

.section-5-overlay-3-text .text2 {
  font-size: 4em;
  margin-bottom: 10px;
  color:var(--text-color);
}

.section-5-overlay-3-text .text3 {
  font-size: 1em;
  color:var(--text-color);
  margin-bottom: 10px;
}

.avatar {

  display: flex;
  gap: 1px; /* Add space between the avatars */
}

.avatar img {
  width: 30px;
  height: 30px;

  gap: 0;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image fits within the circle */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1); /* Optional shadow for a better look */
}

.section-5-overlay-4{
  position: absolute;
  top: 500px;
  right: -10px;
  width: 220px;
  height: auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  z-index: 2;
  padding: 8px;
  gap: 5px;
  font-size: 1.5em;

}

.section-5-overlay-5{
  display: flex;
  width: 150px;
  position: absolute;
  text-align: start;  
  top: 400px;
  right: 200px;
  
  /* font-size: 0.7em; */
  /* color: var(--accent-color); */
  /* border-radius: 20px;
  border: 1px solid;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);  */
  /* background-color: var(--bg-color) ;   */
}

.section-5-overlay-5 i.fa-certificate {
  font-size: 7em; /* Make the certificate larger */
  color: var(--text-color) /* Gold color */
  position: absolute;
  z-index: 1;
}

.section-5-overlay-5 i.fa-arrow-up-right-from-square {
  font-size: 2.5em; /* Smaller icon on top */
  color: #3573df;
  position: absolute;
  top: 30px; /* Position over the certificate */
  left: 35px; 
  z-index: 2;/* Adjust for correct overlay positioning */
}

/* Footer */

footer {
  background-color: #31393C;
  color: #FDFFFC;
  padding: 40px 60px;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */

}

.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  
  
  /* margin-right: 20px; */
}


.footer-column {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px; 
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 20px;
}


.footer-column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #FDCA40;
}

.footer-column p {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: #FDFFFC;
}

.footer-column p:hover{
  color: var(--link-color);
  cursor: pointer;
}

  /* .footer-column .social-icons a {
    color: #FDFFFC;
    margin-right: 20px;
    font-size: 1.5em;
    text-decoration: none;
  } */
/* 
.footer-column .social-links {
  margin-top: 15px;
} */

.footer-column .social-links a {
  color: var(--bg-color);
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-column .social-links a:hover {
  color: var(--link-color);
}


.footer-bottom {
  text-align: center;
  font-size: 0.9em;
  color: #F79824;
  margin-top: 40px;
  width: 100%;
}

.footer-hr{
  color: #FDFFFC;
}




.contact-section {
  margin-top: 90px;
  padding: 50px;
  /* margin-bottom: 100px; */
  background-color: var(--background-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

.contact-section .group {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-section .group .text {
  flex: 3;
  line-height: 1.8;
  color: #555;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.contact-info {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #555;
}

.contact-item i {
  margin-right: 10px;
  color: #333;
  font-size: 1.2rem;
}

.contact-item span {
  font-size: 0.9rem;
  color: #333;
}

.map {
  margin-top: 20px;
  text-align: center;
}

.map iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 2px solid #ddd;
}


.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section .group form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.contact-section .group form input[type="text"],
.contact-section .group form input[type="email"],
.contact-section .group form textarea {
  font-family: "Nunito", sans-serif;
  border: 2px solid #ddd;
  background-color: transparent;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.contact-section .group form input[type="text"]:focus,
.contact-section .group form input[type="email"]:focus,
.contact-section .group form textarea:focus {
  border-color: #333;
}

.contact-section .group form textarea {
  resize: none;
}

.contact-section .group form button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.5em;
 text-align: center;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(0.5em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(15em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}




/* Styles for screens up to 600px */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .hero h1 {
    font-size: 3em; /* Smaller hero text */
  }

  .hero .hero-left {
    padding: 20px;
  }

  .hero .hero-right {
    width: 100%; /* Make the right part responsive */
    height: auto;
  }

  .hero-img2 {
    width: 100%;
    right: 0;
    top: 20px;
  }

  .section {
    padding: 30px; /* Reduce padding */
  }

  .section h2 {
    font-size: 2em;
  }

  .section p {
    font-size: 1em;
  }

  .footer-column {
    flex: 1 1 100%; /* Make footer columns full width on smaller screens */
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {

  body{
    font-size: 0.9em; /* Decrease font size for smaller screens */
  }

   /* NavBar */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }

  /* Hero */
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    position: relative;
  }

  .hero h1 {
    font-size: 4em; /* Slightly smaller hero text */
  }

  .hero .hero-left {
    padding: 30px 10px;
  }

  .hero .hero-right {
    
    width: 70%;
    height: auto;
    border-radius: 50px;
    /* padding: 30px 10px; */
  }

  .hero-img1{
    width: 25%;
    right: 90px;
    top: 510px;
  }

  .hero-img2 {
    width: 140%; /* Reduce width for the hero image */
    right: 50px;
    top: 110px;
  }

  .hero-overlay-text{
    position: absolute;
    top: 800px;
    left: 500px;
    width: 240px;
    height: 40px;
  }



  .hero-overlay{
    position: absolute;
    top: 690px;
    left: 40px;
  }

  .hero-hr {
    padding: 30px 0px;
    border: none;
    border-top: 1px solid #777474;
    margin: 30px;
    width: 93%;
  } 

  /* Section Spacing */
  .section {
    padding: 30px 20px;
  }

  .section h2 {
    font-size: 2em;
    text-align: center;
  }

  .section p {
    font-size: 1.1em;
    text-align: center;
  }

  .section-1 {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .section-1 .section-left {
    padding: 0 30px;
    margin-top: 90px;
    width: 100%;
    height: auto;
    border-radius: 50px;
  }

  .section-1 .section-right {
    border-radius: 50px;
    background-color: #f0e9e9;
    width: 450px;
    padding: 40px 40px 60px 60px;
    margin-right: 70px; 
    margin-top: 20px;
    height: 250px;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1em;
    margin-bottom: 30px;
    
  }
  
  .chevron {
    margin-left: auto;
    color: var(--highlight-color);
  }

.section-2{
  flex-direction: column-reverse;
  align-items: center;
  padding: 0 30px;
  margin-top: 60px;
}

.section-2 .section-left {
  padding-top: 40px;
}

.section-2 .section-right {
  flex: 1;
  width:100%;
   /* margin-left: 70px;  */
   height: auto;
   padding-bottom: 40px;
 }
 
 .service-cards {
   /* display: flex; */
   /* justify-content: space-around; */
   /* flex-wrap: wrap; */
   /* gap: 50px; */
   align-items: center;
   align-content: center;
 }

 .key-aspects-left,
.key-aspects-right {
  width: 100%; 
  /* border: 2px solid #33A1FD; Border for both left and right sides */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #f0e9e9;
}

.key-aspects {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  max-width: 1200px; 
}

.key-aspects-left,
.key-aspects-right {
  width: 90%; /* Each takes 50% of the screen width */
  /* border: 2px solid #33A1FD; Border for both left and right sides */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #f0e9e9;
}

/* Key Aspects Left */
/* .key-aspects-left {
  display: flex;
  flex-direction: column;
} */

/* .aspect {
  margin: 10px;
  /* padding: 0 20px; 
} */
/* 
.aspect-icon-text {
  display: flex;
  gap: 10px;
  /* justify-content: flex-start; */
  /* align-items: end; 
} */

/* 
.aspect-icon-text i {
  font-size: 1.2em;
  margin-right: 10px;
  color:#2176FF;
} */

/* .aspect h3 , .aspect-icon-text i {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #2176FF;

}

.aspect p {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: var(--ptext-color);
}

.aspect hr {
  border: none;
  border-top: 1px solid #33A1FD;
  margin: 20px 0;
 
} */

/* Key Aspects Right */
.key-aspects-right {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden; /* Ensures the image does not overflow */
}

/* .key-aspects-right img {
  position: absolute;
  top: 0;
  left: 70px;
  width: 50%;
  height: 50%;
  object-fit: cover; /* Contain the image within the div */
  z-index: 1; /* Ensure the image is behind the text */
*/

  .footer-column {
    flex: 1 1 100%; /* Stack footer columns on top of each other */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  
}


